body{
    margin:0;padding:0;
}
ul{
    list-style: none;
}
/*¶¥²¿±³¾°ÑÕÉ«*/
header{
    height:28px;
    background:#f5f5f5;
}
#top_nav{
    margin:0 auto;
    color:#777;
    font-size: 12px;
    width:1000px;
}
.top_left{
    display: inline-block;
    position: relative;
    z-index: 10;
    vertical-align: top;
    color: #333;
    float: left;
}
.city_nva{

    position: relative;
   vertical-align: middle;
    border:1px solid #f5f5f5;
    text-align: center;
    padding:0 22px 0 22px;
}
.city_nva:hover{
    border:1px solid #ddd;
    border-top:2px solid #ff2a00;

    border-bottom: hidden;
    background-color:#fff;
}
.city_nva:hover .city_xiala{
    display: block;
}
.xi_an{
    line-height: 28px;
}

.jt{
    position: absolute;
    top:13px;
    left: 68px;
    width:0;
    height:0;
    border:4px solid transparent;
    border-top-color: #000;
}
.city_xiala{
    width:502px;
    height:194px;
    position: relative;
    top:28px;
    left:0px;
    border:1px solid #ddd;
    display: none;
}
.xuanze{
    width:470px;
    height:40px;

}
.city_xiala>b{
    position:absolute;
    top:10px;
    left:477px;

}
.city_xiala>span{
    position:absolute;
    top:10px;
    left:10px;
}
